@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* color :
brown : #190605
black : #0D0D0D
red : #d11517
blue : #0071BD
white : #D9D0C1
 */

input {display: none}
body {
  background-color: #0D0D0D;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
}

#lyrics pre {
  font-family: 'Space Mono', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  padding: 20px 20px;
}

label {
  font-family: 'Playfair Display', sans-serif;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

label:hover {
  color: #0071BD;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
  background-color: white;
}

body:has(#moods:checked) {
  animation: moodsani 800ms forwards linear;
}

@keyframes moodsani {
  0% {background-color: #0D0D0D;
  color:#190605}
  20% {background-color: #0071BD;
  color: #d11517;}
  100% {background-color: #0D0D0D;
  color:white}
}

body:has(#that:checked) {
  animation: thatani 2500ms forwards linear;
}

@keyframes thatani {
  0% {color:white;}
  10% {color: #0D0D0D;}
  80% {color: #0D0D0D;}
  100% {color:white}
}

.moonbg {
  background-image: url('Silhoutte.jpg');
  background-size: cover;
  position: fixed;
/*   background-size: contain; */
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  opacity: 0;
  transition: 1s opacity;
}

body:has(#moon:checked) > .moonbg {
  opacity: 0.7;
}

.eyebg {
  background-image: url('Eye.jpg');
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 200;
  width: 100vw;
  height: 100vh;
  z-index: -4;
  opacity: 0;
  transition: 1s opacity;
}

body:has(#eye:checked) > .eyebg {
  opacity: 0.5;
  mix-blend-mode: lighten;
}

.moods2bg {
  background-size: cover;
  position: fixed;
  background-color: #d11517;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -3;
  opacity: 0;
  transition: 0.3s;
}

body:has(#moods2:checked) > .moods2bg {
  opacity: 0.7;
}

.that2bg {
  background-image: url('Color.jpg');
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: 0;
}

body:has(#that2:checked) > .that2bg {
  animation: that2ani 600ms forwards linear;
}

.fourbg {
  background-image: url('Crack.jpg');
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: 1s opacity;
}

body:has(#four:checked) > .fourbg {
  opacity: 1;
  mix-blend-mode: multiply;
}

@keyframes that2ani {
  0%   { opacity: 0; }
  15%  { opacity: 0.8; }
  30%  { opacity: 0.2; }
  50%  { opacity: 0.8; }
  65%  { opacity: 0.1; }
  80%  { opacity: 0.8; }
  100%  { opacity: 0; }
}

.youbg {
  background-image: url('Mood.jpg');
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: 1s opacity;
}

body:has(#you:checked) > .youbg {
  opacity: 1;
  mix-blend-mode: difference;
}

@keyframes youani {
  0%   { opacity: 0; }
  15%  { opacity: 1; }
  30%  { opacity: 0.2; }
  50%  { opacity: 1; }
  65%  { opacity: 0.1; }
  80%  { opacity: 1; }
  100%  { opacity: 0; }
}

body:has(#mymoods:checked) > .mymoodsbg {
  opacity: 1;
  animation: mymoodsbgani 1000ms forwards linear;
}

.mymoodsbg {
  background-color: #0D0D0D;
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

@keyframes mymoodsbgani {
  0%   { background-color: #d11517; }
  30%  { background-color: #0071BD; }
  100% { background-color: #0D0D0D; }
}

/* @keyframes moonani {
  0% {opacity: 0;
  }
  100% {opacity: 1;
  }
} */
