html {
  min-height: 100vw;
}
td a {
  display: block;
  width: 100%;
  height: 100%;
}
td a:hover {
  background-color: white;
}

#pgrid {
  transform-style: preserve-3d;
  perspective-origin: center center;
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100vw;
  height: 100vw;
}
#center {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}
#styledtable {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
#styledtable td {
  border: 4px solid #ffffff;
  width: 20%;
  height: 20vw;
  text-align: center;
  box-sizing: border-box;
}
.sky-cell {
  background-image: url('sky.JPG');
  background-size: cover;
  background-position: center;
}
.sky-cell a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.sky-cell a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
