html {
  min-height: 100vw;
}
td a {
  display: block;
  width: 100%;
  height: 100%;
}
#pgrid {
  transform-style: preserve-3d;
  perspective-origin: center center;
  position: absolute;
  top: 10vw;
  left: 10vw;
  width: 80vw;
  height: 80vw;
  transform: perspective(2000px) scale(.75);
}
#center {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}
#centerimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#centerlink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#centerlink:hover {
  opacity: 100%;
}

#top {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d4d4d4;
  transform-origin: top center;
  transform: rotateX(90deg);
}
#bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: 
#f2f2f2;
  transform-origin: bottom center;
  transform: rotateX(-90deg);
  table-layout: fixed;
}
#bottomlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: block;
}
#bottom:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
#left {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: 
#f7f7f7;
  transform-origin: left center;
  transform: rotateY(-90deg);
  table-layout: fixed;
}
#right {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: 
#f7f7f7;
  transform-origin: right center;
  transform: rotateY(90deg);
  table-layout: fixed;
}
#styledtable {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
#styledtable td {
  border: 4px solid 
#ffffff;
  width: auto;
  height: auto;
  text-align: center;
}
