html {
  min-height: 100vw;
}

td a {
  display: block;
  width: 100%;
  height: 100%;
}

td a:hover {
  background-color: white;
}

.garden-cell {
  background-image: url('../garden.jpg');
  background-size: cover;
  background-position: center;
}

#pgrid {
  transform-style: preserve-3d;
  perspective-origin: center center;
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100%;
  height: 100vw;
}

#center {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

#styledtable {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
#styledtable td {
  border: 4px solid #ffffff;
  width: auto;
  height: auto;
  text-align: center;
}

