
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Shadows Into Light', cursive;
}

#ticket-toggle {
  display: none;   /* hide the checkbox */
}

#envwrap {
  position: relative;
  display: flex;
  perspective: 200vw;
  width: 60vw;
  align-items: stretch;
  }

#photo-left,
#front-wrapper,
#last-page {
  width: 50%; /* Each side is half of the container */
}

#photo-left {
  display: block;
}

#front-wrapper {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform 1s ease-in-out;
  cursor: pointer;
  z-index: 2;
  margin-left: -0.5%;
}

#photo-right, 
#photo-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 96% !important;
  height: auto;
  object-fit: cover;
  backface-visibility: hidden;
}

#photo-right {
  z-index: 2;
}

#photo-back {
  z-index: 1;
  transform: rotateY(180deg);
}

#last-page {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 99.8%;
  z-index: -1;
  object-fit: cover;
  margin-left: -0.7%;
}


#plane-ticket {
  position: absolute;
  top: 5%;
  left: 55%;
  width: 60%;
  height: auto;
  z-index: 0;
  pointer-events: none;
  transition: z-index 0s linear 0.5s;
  display: flex;
}

#ticket-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;       
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: left center; 
  transition: transform 1s ease-in-out;
  cursor: pointer;
}

#ticket-right-wrapper {
  position: relative;
  width: 100%;
}

#ticket-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#ticket-right-text {
  position: absolute;
  top: 40%;        /* adjust to where you want on the ticket */
  left: 10%;
  width: 80%;
  color: black;
  font-size: 1.3vw;
  line-height: 1.2;
  pointer-events: none;
}

#ticket-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  backface-visibility: hidden;
  transform: rotateY(180deg);  
  z-index: 4;
}


#ticket-fold {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  transition: transform 1s ease-in-out;
}

.stamp {
  transition: transform 0.5s ease;
  cursor: pointer;
  backface-visibility: hidden;
}

#stamp-first-page1 {
  position: absolute;
  top: 6%; 
  right: 25%; 
  width: 30% !important; 
  height: auto;
  z-index: 3;
}

#stamp-first-page2 {
  position: absolute;
  top: 25%;
  right: 63%; 
  width: 28% !important;
  height: auto;
  z-index: 4;
}

#stamp-first-page3 {
  position: absolute;
  top: 34%; 
  right: 12%; 
  width: 28% !important; 
  height: auto;
  z-index: 3;
}

#stamp-first-page4 {
  position: absolute;
  top: 53%;
  right: 55%; 
  width: 30% !important;
  height: auto;
  z-index: 4;
}

#stamp-first-page5 {
  position: absolute;
  top: 72%;
  right: 15%; 
  width: 35% !important;
  height: auto;
  z-index: 4;
}

#stamp-second-page1 {
  position: absolute;
  top: 76%;
  right: 15%;
  width: 35% !important;
  height: auto;
  z-index: 3;
  transform: rotateY(180deg) scale(1.1);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

#stamp-second-page2 {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 28% !important;
  height: auto;
  z-index: 3;
  transform: rotateY(180deg) scale(1.1);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

#stamp-second-page3 {
  position: absolute;
  top: 25%;
  right: 48%;
  width: 22% !important;
  height: auto;
  z-index: 3;
  transform: rotateY(180deg) scale(1.1);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

#stamp-second-page4 {
  position: absolute;
  top: 55%;
  right: 53%;
  width: 33% !important;
  height: auto;
  z-index: 3;
  transform: rotateY(180deg) scale(1.1);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

#front-wrapper:hover:not(.is-open) {
  transform: rotateY(-10deg);
}

#front-wrapper.is-open {
  transform: rotateY(-180deg);
}

#front-wrapper.is-open #stamp1,
#front-wrapper.is-open #stamp2 {
  pointer-events: none;
}

#front-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  backface-visibility: hidden;
}

#front-wrapper.is-open ~ #plane-ticket {
  pointer-events: auto;
  z-index: 3;
}

.stamp:hover {
  transform: scale(1.1);
}

#ticket-toggle:checked ~ #plane-ticket #ticket-fold{
  z-index: 3;
}

#ticket-toggle:checked ~ #front-wrapper {
  pointer-events: none;
}

body:has(#ticket-toggle:checked) #ticket-wrapper {
  transform: rotateY(-180deg);      /* flip open on click */
}

body:has(#ticket-toggle:checked) #plane-ticket {
  z-index: 3;
  pointer-events: auto;
}